<template>
  <div class="photo_list">
    <div class="photo_list__controls">
      <ButtonUI @click.prevent="loadAlbum" :name="'Load photos'" />
      <ButtonUI @click.prevent="resetAlbum" :name="'Reset photos'" />
      <ButtonUI @click.prevent="setFolder" v-if="folder" :name="'Set folder'" />
    </div>
    <input type="text" v-model="folder" />
    <div class="photo_list__items" v-if="!loading">
      <Img
        v-for="(img, i) in photos"
        :key="i"
        :img="img.split('/').reverse()[0].toLocaleLowerCase()"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: "IMGs",
};
</script>

<script setup>
import Img from "@/components/ImgItem/index.vue";
import ButtonUI from "@/components/UI/Button/index.vue";
import { computed, ref } from "vue";
import { useStore } from "vuex";
const store = useStore();
const photos = computed(() => store.getters.photos);
const folder = computed({
  get: () => store.getters.folder,
  set: (newValue) => store.commit("SET_FOLDER", newValue),
});
const initialFoler = ref("");

const loading = ref(false);
const error = ref("");
const loadAlbum = async () => {
  loading.value = true;
  await store.dispatch("getPhotos");
  loading.value = false;
};

const resetAlbum = () => {
  store.commit("RESET_PHOTOS");
};

const setFolder = () => {
  store.dispatch("postFolder", folder.value);
};
</script>

<style src="./styles.scss" lang="scss" scoped />
