.photo_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;

    &__controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 250px);
        gap: 5px;
    }
}