@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@500&display=swap');

* {    
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    max-width: max-content;
    margin: auto;
}