<template>
  <div class="button">
    {{ props.name }}
  </div>
</template>

<script>
export default {
  name: 'ButtonUI',
}
</script>

<script setup>
import { defineProps } from 'vue';
const props = defineProps({
    name: String
})

</script>
<style src='./style.scss' lang="scss" scoped/>