<template>
  <svg class="symbol"
       :class="[`symbol-${props.name}`, {'symbol--gradient': props.gradient}]"
       xmlns="http://www.w3.org/2000/svg">
    <title v-if="title">{{ title }}</title>
    <use :xlink:href="iconPath" xmlns:xlink="http://www.w3.org/1999/xlink"/>
  </svg>
</template>

<script>
export default {
    name: 'SymbolUI',
};
</script>

<script setup>
import { defineProps, computed } from 'vue';

const props = defineProps({
    name: {
        type: String,
        required: true
    },
    title: {
        type: String,
        default: null
    },
    gradient: {
        type: String,
        default: null
    }
});

const iconPath = computed(() => {
    let icon = require(`@/assets/icons/symbols/${props.name}.svg`);
    if (Object.prototype.hasOwnProperty.call(icon, 'default')) {
        icon = icon.default;
    }

    return icon.url;
});
</script>

<style lang="scss" scoped>
.symbol {
    fill: currentColor;

    &--gradient {
        fill: v-bind('props.gradient');
    }

    &--red {
        color: $cRedOrange;
    }

    &-arrow-bold {
        &--top {
            transform: scale(-1);
        }

        &--left {
            transform: rotate(90deg);
        }

        &--right {
            transform: rotate(-90deg);
        }
    }

    &-arrow-thin-round {
        fill: none;
        stroke: currentColor;

        &--right {
            transform: rotate(180deg);
        }
    }
}
</style>
