<template>
  <div class="photo">
    <div class="photo__ctrl">
      <div class="photo__del" @click="remove">x</div>
      <div class="photo__reload" @click="reload">обновить</div>
    </div>
    <img :src="'http://localhost:8080/album/' + props.img" alt="" class="photo__image" />
  </div>
</template>

<script>
export default {
  name: "ImgItem",
};
</script>

<script setup>
import { defineProps, ref, computed } from "vue";
import { useStore } from "vuex";

const props = defineProps({
  img: [Object, String],
});

const store = useStore();

const folder = computed(() => store.getters.folder);
const remove = () => {
  store.dispatch("removePhoto", { file: props.img });
};

const reload = () => {
  store.dispatch("reloadPhoto", { folder: folder.value, file: props.img });
};
</script>

<style src="./style.scss" lang="scss" scoped />
