.photo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-weight: bolder;
    padding: 3px;
    border: 1px solid #000;
    border-bottom: 2px;

    &__image {
        transition: transform 0.5s;
        z-index: 99;
        max-height:100%;
        max-width:100%;        
        border-radius: 3px;  

        &:hover {
            transform: scale(1.2);
            z-index: 100;
        }      
    }
    &__ctrl {        
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    &__del {
        padding-right: 15px;
        border-right: 1px solid #000;
    }
    &__del, &__reload {        
        transition: color 0.5s;
        cursor: pointer;
        &:hover{
            color: red
        }
    }
}