<template>
    <Images/>
</template>

<script>

export default {
  name: 'App',
};
</script>

<script setup>
import Images from './components/Images/index.vue';
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
